/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-black: #0d0d0d;
    --color-card-bg: #1a1a1a;
    --color-gold-text: #d4af37; /* text and headings */
    --color-gold-shape: #c5a020; /* borders, buttons, lines */
    --color-gold-accent: #ffd900e1; /* hover highlights */
    --color-light-text: #e0e0e0;
}

/* Universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    min-height: 100vh;
    background: linear-gradient(145deg, #0f0f0f, #1a1a1a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    padding: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header and Navigation */
header {
    color: #fff;
    text-align: center;
    box-shadow: 0 8px 94px rgba(0, 0, 0, 0.4);
    margin: 30px 0 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav a {
    background-color: #1c1c1c;
    color: #fff;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in;
}

nav a:hover,
nav a:focus {
    background-color: #2a2a2a;
}

nav a.active {
    background-color: #F5C542;
}

/* Main Styling */
main {
    display: block;
    max-width: 900px;
    width: 100%;
    padding: 30px;
    background: #1a1a1a;
    border-radius: 20px;
    border: 1px #ffffff2a solid;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main:hover {
    transform: translateY(-6px);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
}

main h1 {
    color: #F5C542;
    font-size: 40px;
    text-align: center;
    margin: 0 0 45px;
}

main h2 {
    color: #F5C542;
    font-size: 27px;
    margin: 25px 0 0;
}

main p {
    color:  #e5e5e5;
    font-size: 16px;
    word-wrap: wrap;
    line-height: 2.5;
    text-align: justify;
}